@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-3" style="position: relative; top: 100px; text-align: center"><b>Willkommen</b></h1><br />

<div style="position: relative; top: 120px; text-align: center">
    <h4>Feedback-Formulare für Lehrpersonen</h4><br />
    <p>Lehrpersonen können mit Hilfe dieser Website ganz einfach Umfragen innerhalb einer beliebigen Klassen durchführen.</p>
    <p>Wenn sich z.B. wieder ein Schuljahr dem Ende zuneigt und Lehrpersonen ein Feedback zu ihrem Unterricht haben wollen, kann dies einfach und schnell mit unserer Website erledigt werden.</p>
    <div style="text-align: left">
        <br />
        <p><b>Anleitung:</b></p>
        <br />
        <p>1. Formularvorlagen anschauen und ein passendes Formular wählen (falls kein Passendes gefunden wird, kann auch ein neues Formular erzeugt werden.</p>
        <p>2. Es muss ein neues Feedback erstellt werden (FormularID und ein selbst gewählter Schlüssel müssen angegeben werden.)</p>
        <p>3. Alle Schüler:innen müssen sich auf der Website die APK der Mobilen App herunterladen.</p>
        <p>4. Die Lehrperson muss den Schülern sowohl die FormularID als auch den gewählten Schlüssel mitteilen.</p>
        <p>5. Die Schüler:innen füllen in der Mobilen App die Fragen aus.</p>
        <p>6. Wenn alle Schüler:innen das Formular abgesendet haben, kann die Lehrperson die Ergebnisse vollständig ausgewärtet ansehen und gegebenfalls den Unterricht anpassen.</p>
    </div>
</div>
<div style="position: relative; top:70px; min-height: 100px">

</div>

