

<h1 style="position: relative; top: 100px; text-align: center">Ergebnis</h1>
<div style="position: relative; top: 130px; min-height: 40px; text-align: center">
    <select id="wahlFormular"></select>
</div>
<div id="antwort" style="position: relative; top: 130px; min-height: 380px; text-align: center">
    <h5 style="position: relative; top: 120px">Hier werden die Formulare angezeigt</h5>
</div>
<div style="position: relative; top: 150px; min-height: 110px">
    <button id="zurueck2" style="float:left">vorheriges Formular</button>
    <button id="weiter2" style="float:right">nächstes Formular</button>
</div>
<div style="position: relative; top:70px; min-height: 50px">

</div>

