
@{
    ViewData["Title"] = "Ergebnis_Auswertung";
}

<h1 style="position: relative; top: 100px; text-align: center">Ergebnis</h1>
<div style="position: relative; top: 130px; min-height: 40px; text-align: center">
    <select id="wahlFormular"></select>
</div>
<div id="auswertung" style="position: relative; top: 150px; min-height: 310px; padding: 30px 0px 10px 0px; text-align: center">
    <canvas id="myChart" style="top: 60px; max-height: 350px;"></canvas>
</div>
