
@{
    ViewData["Title"] = "IndividuelleFormulare";
}

<h1 style="position: relative; top: 100px; text-align: center">Individuelle Formulare</h1>

<div style="position: relative; top: 130px; min-height: 40px; text-align: center">
    <select id="waehlen"></select>
</div>
<div id="formular2" style="position: relative; top: 130px; min-height: 320px; text-align: center">
    <p>Hier werden die Formulare angezeigt</p>
</div>
<div style="position: relative; top: 60px; min-height: 120px">

</div>



