<h1 style="position: relative; top: 100px; text-align: center">Standardformulare</h1>
<div id="formular" style="position: relative; top: 130px; min-height: 420px; text-align: center ">
    <button id="formularbtn">Formulare anzeigen</button>
    <h5 style="position: relative; top: 133px">Hier werden die Formulare angezeigt</h5>
</div>
<div style="position: relative; top: 150px; min-height: 110px">
    <button id="zurueck" style="float:left">vorheriges Formular</button>
    <button id="weiter" style="float: right">nächstes Formular</button>
</div>
<div style="position: relative; top:70px; min-height: 50px">

</div>



