@model Diplomarbeit.Models.Message

@if (Model != null)
{

    <h1 style="position: relative; top: 100px; text-align: center">@Model.Header</h1>
    <div style="position: relative; top: 220px; text-align: center">

        <h4><b>Meldung</b></h4>
        <h5>
            @Model.Messagetext
        </h5>


        @if (Model.Solution != null && Model.Solution.Trim() != "")
        {
            <h4><b>Lösung</b></h4>
            <h5>
                @Model.Solution
            </h5>
        }
    </div>

}
else
{
    <p>
        Es wurde keine Meldung übergeben!
    </p>
}


