
@{
    ViewData["Title"] = "Download";
}

<h1 style="position: relative; top: 100px; text-align: center">Download</h1>

<div style="position: relative; top: 250px; min-height: 250px; text-align: center">
    <h5>Hier kann man sich die APK der Mobilen App herunterladen.</h5>
    <h5>Einfach <b><a href="https://de.pornhub.com" target="_blank">hier</a></b> klicken und der download startet.</h5>
</div>
<div style="position: relative; top:70px; min-height: 150px">

</div>